@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 6px;
  padding: 0;
  /* justify-content: ; */
}

/* .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; /* IMPORTANT: real height of your header */
/* background: white;
  z-index: 1000;
} */
*/ html {
  scroll-behavior: smooth;
}

.section {
  height: 100vh;
  padding: 102px;
}

header {
  position: fixed;
  z-index: 33000;
  /* background-color: #fef9fc; */
  /* padding-top: -62px; */
}

body {
  background: url(./Images/background.png);
}

.navigation {
  display: flex;
}

/* header {
  background-color: #f7f7f5;
  height: 70px;
} */

#logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.links {
  padding-left: 806px;
  padding-top: 12px;
  /* text-decoration: none; */
}

.link {
  text-decoration: none;
  color: black;
  padding-left: 12px;
  /* transition: text-decoration 3s ease; */
}

.link:hover {
  text-decoration: underline orangered 3px;
  font-size: 18px;
  font-weight: bold;
}

.headers {
  text-align: center;
  position: relative;
  top: 194px;
  padding-top: 22px;
}

h1 {
  font-size: 64px;
  background: linear-gradient(90deg, #b892ff, #2f6bff);
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
}
span {
  background: linear-gradient(90deg, #e892ff, #2f6bff);
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
}

.h2-color {
  color: gray;
}

.image-requests {
  border-radius: 50%;
  position: relative;
  top: 232px;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 3px;
}

li {
  list-style: none;
}

ul {
  display: flex;
  align-items: center;
}

.Buttons {
  position: relative;
  top: 332px;
  margin-left: 60px;
  text-align: center;
}

.primary-button {
  padding: 12px;
  margin-right: 42px;
  border: none;
  background-color: orangered;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  background: linear-gradient(90deg, #e892ff, #2f6bff);
}

.Secondary-button {
  padding: 12px;
  border: none;
  color: white;
  background-color: #b892ff;
  border-radius: 30px;
  cursor: pointer;
  background: linear-gradient(90deg, orangered, #2f6bff);
}

.s_h2 {
  text-align: center;
  font-size: 45px;
  text-decoration: overline;
}

.about-bg {
  padding-left: -223px;
}

.h3-header {
  font-size: 18px;
  color: gray;
}

.location {
  padding-left: 534px;
  padding-top: 23px;
  gap: 23px;
  cursor: pointer;
}

.h2-sd {
  font-size: 64px;
  background: linear-gradient(90deg, #b892ff, #2f6bff);
  -webkit-text-fill-color: transparent;

  -webkit-background-clip: text;
}

.headerr {
  margin-left: 634px;
  border-radius: 40px;
  margin-top: -223px;
}
